<ion-header class="top-header">
  <ion-navbar>
    <ion-buttons right class="notification_icn" (click)="notificaion()">
      <button ion-button icon-only light class="text-white">
        <img src="assets/img/notifications.png">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div *ngIf="isListEmpty" class="bold big-text" text-center padding margin>No chats are available</div>
  <div *ngIf="!isListEmpty">
    <div *ngFor="let chat of chats" class="chat_box">
      <div *ngIf="!chat.isDriver" class="chat_left">
        <img src="assets/img/chat_prfl.png">
        <span>{{chat.message}}</span>
      </div>
      <div *ngIf="chat.isDriver" class="chat_right" text-right>
        <span>{{chat.message}}</span>
        <img src="assets/img/chat_prfl.png">
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-list no-margin>
    <ion-item no-padding>
      <button item-start class="transparent text-black emoji">
        <img src="assets/img/emoji.png">
      </button>
      <input [(ngModel)]="msg" type="text" placeholder="Type Your Message...">
      <button (click)="sendMessage()" item-end class="transparent send_btn">
        <img src="assets/img/send_icn.png">
      </button>
    </ion-item>
  </ion-list>
</ion-footer>
